# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Arquivos gerados pelo Unity/IDE
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
.vscode/

# Builds
*.apk
*.aab
*.unitypackage
*.app

# SO
.DS_Store
Thumbs.db

# Lixo que apareceu dentro da pasta do projeto
/My project/
/CartaBranca/
